<ion-header no-border>
	<ion-navbar>
		<button ion-button icon-only (click)="dismiss()" clear>
      		<ion-icon name="close"></ion-icon>
    	</button>
		<ion-buttons end>
			<button ion-button (click)="next()" clear>
                Next
             </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<form [formGroup]="emailForm" (ngSubmit)="sendEmailToRetrievePasscode()" [hidden]="registrationStep == 1">
		<ion-list no-lines>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label stacked color="light">Please Enter an email.</ion-label>
							<ion-input formControlName="email" type="text" spellcheck="false" autocapitalize="off" required placeholder="Email Address">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-1>
						<ion-spinner class="registration-spinner" [hidden]="isSpinner == false"></ion-spinner>
					</ion-col>
				</ion-row>
			</ion-grid>

			<p class="input-assistants" ion-text text-left padding-left [hidden]="emailForm.controls.email.valid || isEmailSubmitted == false" color="light">
				A Valid email is required
			</p>
			<p class="input-assistants" ion-text color="light" padding-left text-left>
				We recommend using a personal email.
			</p>
		</ion-list>
	</form>
	<form [formGroup]="passcodeForm" novalidate (ngSubmit)="confirmPasscode()" [hidden]="isEmailSubmitted == false || registrationStep == 0">
		<ion-list no-lines>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label stacked color="light">A passcode has been sent to your email.</ion-label>
							<ion-input formControlName="passcode" name="passcode" type="password" spellcheck="false" autocapitalize="off" required placeholder="Passcode" max-length="6">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-1>
						<!--Spinner is unecessary for front end check-->
						<ion-spinner class="registration-spinner" [hidden]="isSpinner == false"></ion-spinner>
					</ion-col>
				</ion-row>
			</ion-grid>
			<p class="input-assistants" text-left ion-text [hidden]="passcodeForm.controls.passcode.valid || isPasscodeSubmitted == false" color="light">
				A valid passcode has to be input.
			</p>
		</ion-list>
	</form>
</ion-content>
<ion-footer [hidden]="registrationStep == 0">
	<ion-toolbar text-center>
		<div (click)="sendEmailToRetrievePasscode(true)" [hidden]="isSpinner" class="registration-resend">Resend</div>
		<ion-spinner [hidden]="!isSpinner" ></ion-spinner>
	</ion-toolbar>
</ion-footer>
