@import "../../theme/variables";
page-email-capture{
    $font-color: color($colors,light);

  .scroll-content,.toolbar-background,.item-block,.footer{
    background: color($colors, secondary)
  }
  *{
      color: $font-color
  }
  .text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $font-color;
}
.text-input::-moz-placeholder { /* Firefox 19+ */
  color: $font-color;
}
.text-input:-ms-input-placeholder { /* IE 10+ */
  color: $font-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $font-color;
}
.registration-spinner{
  margin-top: 36px;
}

.input-assistants{
  padding-left: 23px !important;
  font-size: 1.2rem;
  font-family: $font;
}

.registration-resend{
  text-decoration: underline;
}

}
