<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides pager>

    <ion-slide>
      <img src="assets/images/onboarding-icon-events.png" class="slide-image" />
      <h2 class="slide-title">Stay Connected</h2>
      <p>
        Get notified of new Masjid events.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/onboarding-icon-lectures.png" class="slide-image" />
      <h2 class="slide-title">Live and Recorded Jumuahs</h2>
      <p><b>Jumuah</b> at your finger tips.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/onboarding-icon-donation.png" class="slide-image" />
      <h2 class="slide-title">Donate with ease.</h2>
      <p>Giving Zakat, Sadaqah, or other donations has never been easier.</p>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer padding>
    <button class="btn-get-started" ion-button round color="secondary" (click)="presentApp()">Get Started</button>
</ion-footer>
