<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <h2 color="secondary"></h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="scroll-content">
  <img src="{{event.imageUrl}}" />
  <h2 text-center class="primary-font-color">{{event.title}}</h2>
  <div padding>
    <ion-row class="border">
      <ion-col col-2 text-left>
        <ion-icon name="calendar" class="ionicon" color="secondary"></ion-icon>
      </ion-col>
      <ion-col text-left>
        <div>{{event.startDate | amDateFormat: 'dddd'}}</div>
        <div>{{event.startDate | amDateFormat: 'MMM DD, YYYY'}}</div>
        <div>{{event.startDate | amDateFormat: 'h:mm'}} - {{event.endDate | amDateFormat: 'h:mm a'}}</div>
      </ion-col>
    </ion-row>
    <ion-row (click)="navigate(event.location.address)" class="border">
      <ion-col col-2 text-left>
        <ion-icon name="pin" class="ionicon" color="secondary"></ion-icon>
      </ion-col>
      <ion-col text-left>
        <div>{{event.location.name}}</div>
        <div>{{event.location.address}}</div>
        <div class="fake-link">Get Directions</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p class="primary-font-color">
          {{event.description}}
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
