<ion-header>
  <ion-navbar>
    <ion-title><h2 color="secondary">{{event.title}}</h2></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="scroll-content">
  <ion-grid>
    <ion-row class="imgdetail"><img src="{{event.imageUrl}}"/></ion-row>
    <ion-row>
      <ion-col col-12 class="titlede">{{event.title}}</ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col col-5>
        <ion-icon name="calendar" class="ionicon" color="secondary" item-right></ion-icon>
      </ion-col>
      <ion-col col-7>
        <ion-row class="singleEventInfo">{{event.date.day}}, {{event.date.month}} {{event.date.number}}</ion-row>
        <ion-row></ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="border" (click)="navigate(event.location.address)">
        <ion-col col-4>
          <ion-row>
            <ion-icon name="pin" class="ionicon" color="secondary"></ion-icon>
          </ion-row>
        </ion-col>
        <ion-col col-8>
          <ion-row class="singleEventName">{{event.location.name}}</ion-row>
          <ion-row class="singleEventInfo">{{event.location.address}}</ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="descr" col-12>{{event.description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
