<ion-header>
  <ion-navbar color="secondary">
    <ion-icon icon-only class="header-icon">
      <img src="./assets/images/masjidLogoone.png" class="headerlogo"/>
    </ion-icon>
    <ion-title>
      <h2 color="secondary">Events</h2>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="scroll-content">
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let event of events">
    <ion-card (click)="pushPage(event)">
      <ion-item>
        <h2>{{event.title}}</h2>
        <p>{{event.startDate | amDateFormat: 'dddd - MMM DD, YYYY'}}</p>
      </ion-item>
      <img src="{{event.imageUrl}}" />
      <ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <div color="secondary">{{event.startDate | amDateFormat: 'MMM DD, YYYY'}}</div>
      </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="pin" color="secondary"></ion-icon>
              <div color="secondary">{{event.location.name}}</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
