<ion-header>
  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <img src="./assets/images/masjidLogoone.png" class="headerlogo"/>
    </button>

    <ion-title>
      <h1 color="secondary">Events</h1>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more" color="secondary"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding class="scroll-content">
<div *ngFor="let event of events">
  <ion-grid no-padding>
    <ion-row class="imgdetail"><img src="{{event.imageUrl}}"/></ion-row>
    <ion-row class="event" (click)="pushPage(event)">
        <ion-col col-3 class="reducedPadding">
          <ion-row class="eventDay">
            <ion-col col-12>
            {{ event.date.day }}
            </ion-col>
            </ion-row>
          <ion-row class="eventMonth">
            <ion-col col-12>
              {{ event.date.month }}
            </ion-col>
            </ion-row>
          <ion-row class="eventDate">
            <ion-col col-12>
              {{ event.date.number }}
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-9>
          <ion-row class="eventTitle">
            <ion-col col-12>
              {{event.title}}
              </ion-col>
          </ion-row>
          <ion-row class="eventdetails">
            <ion-col col-4>
                <ion-icon name="pin" class="ionpin" color="secondary"></ion-icon>
            </ion-col>
            <ion-col col-8 class="locdetails">
                {{event.location.name}} | {{event.time}}
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
