<ion-header>
  <ion-navbar>
    <ion-title>
      <h1 color="secondary">Event</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row class="imgdetail"><img src="{{event.imageUrl}}"/></ion-row>
  <ion-col width-100>
  <ion-row class="titlede"> {{ event.title }} </ion-row>
  </ion-col>
  <ion-row class="border">
  <ion-col width-30>
          <ion-row>
            <ion-icon name="md-calendar" class="ionicon" color="secondary"> </ion-icon>
          </ion-row>
        </ion-col>
      <ion-col width-80>
       <ion-row> {{ event.date.day }}, {{ event.date.month }} {{ event.date.number }} </ion-row>
       <ion-row> {{ event.time }} </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="border" (click)="pushPage()">
  <ion-col width-30>
          <ion-row>
            <ion-icon name="md-pin" class="ionicon" color="secondary"> </ion-icon>
          </ion-row>
        </ion-col>
      <ion-col width-80>
       <ion-row> {{ event.location.name }} </ion-row>
       <ion-row> {{ event.location.address }} </ion-row>
    </ion-col>
  </ion-row>
  <ion-col width-100>
    <ion-row class="descr"> {{ event.description }} </ion-row>
  </ion-col>
</ion-content>



