<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <img src="./assets/images/masjidLogoone.png" class="headerlogo"/>
    </button>

    <ion-title>
      <h1 color="secondary">Programs</h1>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="scroll-content">

<ion-grid>
  <ion-row>
    <ion-row>
      <ion-col>
        <img src="./assets/images/Quran.jpg"/>
      </ion-col>
    </ion-row>
    </ion-row>
  <ion-list *ngFor="let program of programs">
  <ion-list-header>
   <h2>{{program.dayOfWeek}}</h2>
  </ion-list-header>
  <ion-item> <ion-icon name="book"></ion-icon> {{program.name}}</ion-item>
  <ion-item>Starts: {{program.startTime | dateConvert}}</ion-item>
  <ion-item>Ends: {{program.endTime | dateConvert}}</ion-item>
</ion-list>
</ion-grid>
</ion-content>
