<ion-header>
  <ion-navbar>

    <ion-title>
      <h1 color="secondary">Program</h1>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row class="imgdetail"><img src="{{program.imageUrl}}"/></ion-row>

  <ion-col width-100>
  <ion-row class="titlede"> {{ program.title }} </ion-row>
  </ion-col>
  <ion-row class="border">
  <ion-col width-30>
          <ion-row>
            <ion-icon name="md-calendar" class="ionicon" color="secondary"> </ion-icon>
          </ion-row>
        </ion-col>
      <ion-col width-80>
       <ion-row> {{ program.date.day }}, {{ program.date.month }} {{ program.date.number }} </ion-row>
       <ion-row> {{ program.time }} </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="border">
  <ion-col width-30>
          <ion-row>
            <ion-icon name="md-pin" class="ionicon" color="secondary"> </ion-icon>
          </ion-row>
        </ion-col>
      <ion-col width-80>
       <ion-row> {{ program.location.name }} </ion-row>
       <ion-row> {{ program.location.address }} </ion-row>
    </ion-col>
  </ion-row>
  <ion-col width-100>
    <ion-row class="descr"> {{ program.description }} </ion-row>
  </ion-col>

</ion-content>
