<ion-header>
  <ion-navbar color="secondary">
    <ion-icon icon-only class="header-icon">
      <img src="./assets/images/masjidLogoone.png" class="headerlogo"/>
    </ion-icon>

    <ion-title>
      <h2 color="secondary">Lectures</h2>
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="episodes">
    <audio-track #audio *ngFor="let track of episodes" [track]="track" (onFinish)="onTrackFinished($event)">
      <ion-item style="padding-left:0;">
        <ion-thumbnail item-left>
          <img src="{{audio.art}}">
          <audio-track-play dark [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play>
        </ion-thumbnail>
        <div item-content style="width:100%">
          <p><strong>{{audio.title}}</strong></p>
          <audio-track-progress-bar duration progress [audioTrack]="audio"></audio-track-progress-bar>
          <em style="font-size:.5em">Date: {{track.published_at  | amDateFormat:'LL'}}</em>
        </div>
      </ion-item>
    </audio-track>
  </ion-list>
</ion-content>

