<ion-header>
  <ion-navbar>
    <ion-title>
      <h1 color="secondary">Donations</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row><img src="./assets/images/375x300.jpg"/></ion-row>
    <ion-row><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus felis ac euismod dictum. Nullam varius neque molestie dolor bibendum, eu efficitur enim auctor. Pellentesque malesuada ipsum eget libero interdum, eu pellentesque enim finibus. Donec at felis mauris. Quisque quis libero vitae metus accumsan lobortis.</p></ion-row>
  <button ion-button full (click)="btnBuyNow">Donate With PayPal</button>
  <button ion-button full>Donate With Card</button>
</ion-content>
