<ion-header>
  <ion-navbar color="secondary">
    <ion-icon icon-only class="header-icon">
      <img src="./assets/images/masjidLogoone.png" class="headerlogo"/>
    </ion-icon>

    <ion-title>
      <h2 color="secondary">Donate</h2>
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content class="scroll-content">
  <p text-center>Please Select Donation Option</p>
<ion-list>
  <button ion-item *ngFor="let option of donationOptions" (click)="goToDonateDetail(option)">
    {{ option.name }}
  </button>
</ion-list>
</ion-content>

